@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Inter:wght@500&family=Karla:wght@500&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@400;700&family=Mukta:wght@800&family=Outfit:wght@400;700&family=Poppins:wght@600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95%;
}

.img-info{display: flex;}

.logo{
    margin: 40px 50px;
}

.mockup-img{
    position: relative;
    left: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.huddle-info{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    bottom: 400px;
    
}

.huddle-info h1{
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 20px;
    color: white;
    margin-right: 900px;
    padding: 20px 20px;
    font-weight: 700;
}

.huddle-info p{
    font-family: sans-serif;
    position: relative;
    left: 40px;
    color: white;
    margin-right: 850px;
    line-height: 2rem;
    font-weight: 400;
}

.btn{
    position: relative;
    left: 40px;
    top: 20px;
    padding: 16px;
    width: 180px;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    border: none;
}

.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

.icons{
    position: relative;
    float: right;
    bottom: 50px;
    right: 30px;
    margin-right: 30px;
}

.fa-brands{
    position: relative;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
}

.fa-brands:hover{
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}